<h2>Your Tasks</h2>

@if (tasksResource.isLoading()) {
<p>Loading tasks...</p>
}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Completed</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    @if (tasksResource.error(); as error) {
    <tr>
      <td colspan="3">Error loading tasks: {{ error }}</td>
    </tr>
    }
    @for (task of tasksResource.value(); track task.id) {
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.completed ? "Yes" : "No" }}</td>
      @if (task.completed) {
      <td>Done!</td>
      } @else {
      <td><a routerLink="/tasks/{{ task.id }}">Complete!</a></td>
      }
    </tr>
    }
  </tbody>
</table>
