<h2>Your Tasks</h2>

<a routerLink="/auth/tasks/new">Create New Task</a>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Completed</th>
      <th>Due Date</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    @if (tasksResource.error(); as error) {
    <tr>
      <td colspan="4">Error loading tasks: {{ error }}</td>
    </tr>
    }
    @if (tasksResource.isLoading()) {
    <tr>
      <td colspan="4"><app-loading-spinner /></td>
    </tr>
    }
    @for (task of tasksResource.value(); track task.id) {
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.completed ? "Yes" : "No" }}</td>
      <td>{{task.dueDate | date}}</td>
      @if (task.completed) {
      <td>Done!</td>
      } @else {
      <td><a routerLink="/tasks/{{ task.id }}">Complete!</a></td>
      }
    </tr>
    }
  </tbody>
</table>
