.top-bar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo img {
  margin-right: 10px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
}

.home-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.25rem;
}

.spacer {
  flex-grow: 1;
}