<h2>Login with email</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label i18n for="username">Username:</label>
    <input id="username" formControlName="username" required />
  </div>
  <app-button i18n type="submit" [disabled]="!loginForm.valid">Login</app-button>
</form>
@if(unableToFindUser()) {
<aside>
  <p>
    <strong i18n>Unable to find user</strong>
  </p>
  <p i18n>Please check your username and try again.</p>
</aside>
}

<p i18n>Not already a member? <a routerLink="/register" >Register today!</a></p>
<p>
  <a i18n routerLink="/">Back to home</a>
</p>
